<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Patient Surgery Search</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h3>Enter Patient File Number</h3>
		<br />
		<hr />
		<br />
		<form th:action="@{/surgerywaitinglist/patientSurgeries}" th:object="${patient}" method="GET">
			<input type="text" th:field="*{patientId}"
				class="form-control col-4 mb-4" placeholder="Enter File Number Here" />
				
				
				
				<br/>
				<hr/>
				
				<input type="submit" value="SUBMIT"/>
				
		</form>
		<br /> <br />
		<div style="text-align: center;">
			<a th:href="@{/surgerywaitinglist}">Back To List</a>
		</div>
		<br /> <br />


	</div>
</body>
</html>